<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="en-us">
        <base href="{global.baseUrl}">

        <!-- meta tags-->
        <title>{head.title> | {global.appName}</title>
        <meta name="description" content="{head.description">
        
        <!-- static assets-->
        <link type="image/x-icon" rel="icon" href="favicon.ico">
        <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
        <link rel="stylesheet" type="text/css" href="public/app.css">

    </head>
    <body class="{body.class}">
        <div class="wrapper">
            <div class="header">
                <a href="/" class="logo">
                    <img src="public/logo.png" alt="logo" title="logo" />
                </a>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/account/create" class="leggedOut">Signup</a></li>
                    <li><a href="/session/create" class="leggedOut">Login</a></li>
                    <li><a href="/checks/all" class="leggedIn">Dashboard</a></li>
                    <li><a href="/account/edit" class="leggedIn">Account setting</a></li>
                    <li><a href="#" class="leggedIn">Logout</a></li>
                </ul>
            </div>
        </div>


        <div class="content">

