<h1>Uptime monitoring system</h1>
<h2>simple as fly</h2>

<div class="blurb">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sit voluptatem dolores quaerat ipsa asperiores impedit possimus, ratione aperiam nisi, libero dolorem veritatis distinctio, nesciunt beatae id consequatur aut vitae?<br><br></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sit voluptatem dolores quaerat ipsa asperiores impedit possimus, ratione aperiam nisi, libero dolorem veritatis distinctio, nesciunt beatae id consequatur aut vitae?</p>
</div>

<div class="ctaWrapper">
    <a href="account/create" class="cta green">Get started</a>
    <a href="session/create" class="cta blue">Login</a>
</div>
